########################################
# INCLUDES
########################################
[include mainsail.cfg]
[include macros.cfg]

########################################
# MCU
########################################
[mcu]
serial: /dev/serial/by-id/usb-Klipper_lpc1769_XXXXXXXXXXXX-if00

[mcu host]
serial: /tmp/klipper_host_mcu

########################################
# PRINTER
########################################
[printer]
kinematics: cartesian
max_velocity: 250
max_accel: 4500
max_z_velocity: 25
max_z_accel: 100

[force_move]
enable_force_move: True

[skew_correction]

########################################
# MOVIMENTO / HOMING
########################################
[safe_z_home]
home_xy_position: 117.5, 117.5
z_hop: 5
z_hop_speed: 15

########################################
# STEPPERS
########################################
[stepper_x]
step_pin: P2.2
dir_pin: !P2.6
enable_pin: !P2.1
microsteps: 64
rotation_distance: 40
endstop_pin: ^!P1.29
position_endstop: -7
position_min: -7
position_max: 235
homing_speed: 50

[stepper_y]
step_pin: P0.19
dir_pin: !P0.20
enable_pin: !P2.8
microsteps: 64
rotation_distance: 40
endstop_pin: ^!P1.28
position_endstop: 0
position_min: 0
position_max: 235
homing_speed: 50

[stepper_z]
step_pin: P0.22
dir_pin: !P2.11
enable_pin: !P0.21
microsteps: 64
rotation_distance: 8
endstop_pin: probe:z_virtual_endstop
position_min: -2
position_max: 270

########################################
# EXTRUSOR
########################################
[extruder]
step_pin: P2.13
dir_pin: !P0.11
enable_pin: !P2.12
microsteps: 64
rotation_distance: 33.333

nozzle_diameter: 0.400
filament_diameter: 1.750

heater_pin: P2.7
sensor_type: EPCOS 100K B57560G104F
sensor_pin: P0.24

control: pid
pid_Kp: 22.20
pid_Ki: 1.08
pid_Kd: 114.00

min_temp: 0
max_temp: 275

########################################
# DRIVERS TMC2209 (UART)
########################################
[tmc2209 stepper_x]
uart_pin: P1.10
run_current: 0.540
sense_resistor: 0.110
interpolate: False
stealthchop_threshold: 0

[tmc2209 stepper_y]
uart_pin: P1.9
run_current: 0.540
sense_resistor: 0.110
interpolate: False
stealthchop_threshold: 0

[tmc2209 stepper_z]
uart_pin: P1.8
run_current: 0.540
interpolate: False
stealthchop_threshold: 0

[tmc2209 extruder]
uart_pin: P1.4
run_current: 0.540
sense_resistor: 0.110
interpolate: False
stealthchop_threshold: 0

########################################
# MESA AQUECIDA
########################################
[heater_bed]
heater_pin: P2.5
sensor_type: Generic 3950
sensor_pin: P0.25

min_temp: 0
max_temp: 150

control: pid
pid_kp: 71.634
pid_ki: 1.368
pid_kd: 937.509

########################################
# FANS
########################################
[fan]
pin: P2.3

[controller_fan fan_motores]
pin: P2.4
stepper: stepper_x, stepper_y, stepper_z, extruder

[temperature_fan fan_interna]
pin: P1.26
sensor_type: temperature_mcu
control: watermark
min_temp: 20
max_temp: 100
target_temp: 42

########################################
# BLTOUCH
########################################
[bltouch]
sensor_pin: ^P1.27
control_pin: P2.0

x_offset: -1.5
y_offset: -34
z_offset: 0

samples: 2
samples_tolerance: 0.2

########################################
# BED MESH
########################################
[bed_mesh]
mesh_min: 31.5, 34
mesh_max: 199.5, 201
probe_count: 15, 15
algorithm: bicubic
zero_reference_position: 117.5, 117.5

[delayed_gcode bed_mesh_init]
initial_duration: 0.01
gcode:
  BED_MESH_PROFILE LOAD=default

########################################
# NIVELAMENTO MECÂNICO
########################################
[screws_tilt_adjust]
screw1: 31.5, 68
screw1_name: Frente Esquerda
screw2: 199.5, 68
screw2_name: Frente Direita
screw3: 31.5, 235
screw3_name: Traseira Esquerda
screw4: 199.5, 235
screw4_name: Traseira Direita
screw_thread: CW-M3

########################################
# SENSOR DE FILAMENTO
########################################
[filament_switch_sensor MKS_FES]
switch_pin: P1.26

########################################
# LED
########################################
[neopixel LED]
pin: P1.24
chain_count: 2
initial_BLUE: 1.0

########################################
# BEEPER
########################################
[output_pin BEEPER_Pin]
pin: P1.30
pwm: True

########################################
# FEATURES
########################################
[pause_resume]
[exclude_object]

[gcode_arcs]
resolution: 0.1